
.communication-container {
    border: 5px dotted;
    border-radius: 15px;
    border-color: blue;
}
.timestamp {
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-style: italic;
    
    
}
.header {
	 text-shadow: 2px 2px red;
	 text-align: center;
	 text-decoration: underline;
	 color: purple;
	 font-family: "Lucida Console", "Courier New", monospace;
	 
}