<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
	<!-- https://idratherbewriting.com/events-and-listeners-javascript -->
		<title th:text="${communicationLine.name}"></title>
		<link rel="stylesheet" href="/css/communicationLine.css"/>
		<script th:inline="javascript">
		    alert("Please be respectful in the chatBox!!")
		    const channelId = /*[[${communicationLine.channelId}]]*/null;
			const user = sessionStorage.getItem("user")
			switch(user) {
			case null:
				window.location.href = '/welcome'
				break;
			  default:
				  user = JSON.parse(sessionStorage.getItem("user"))  
			}

			if (user == null) { 
				window.location.href = '/welcome'
			} else {
				
			}
		/*]]>*/
		</script>
	</head>
	<body>
		<div class="communication-container">
		  <div th:each="message : ${messages}" th:inline="text">
		  	<div class="timestamp">[[${message.user.name}]]: </div>
		  	<div class="message">[[${message.text}]]</div>
		  </div>
		</div>
		<div class="communication-box">
			<textarea rows="5" cols="42" id="messageBox"></textarea>
		</div>
		<script type="text/javascript" src="/js/communicationLine.js"></script>
	</body>
</html>