<!DOCTYPE html>
<html>
<head>
<style>
	table, th, td {
 	 border:1px solid black;
	}
</style>
<style>
body {
  background-color: red;
}
</style>
</head>
<body>

<h2>Username or Password not found</h2>

<table style="width:100%">
  <tr>
    <th>MESSAGE</th>
    <th>RETURN TO LOGIN SCREEN!</th> 
  </tr>
  <tr>
    <td>You entered a incorrect username AND/OR password. Please return to the login screen</td>
    <td><a href="/login">BACK</a></td>
   
  </tr>
  <tr>
    
    
  </tr>
</table>

<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>