<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Login</title>
</head>
	<body>
	<h2>Sign In Below</h2>
	<form action="" method="post">
	<div>
		Username:<input type="text" th:field="${user.username}"/>
	</div>
	<div>
		Password:<input type="password" th:field="${user.password}"/>
	</div>
	<div>
		 <button type="button" id="submitBtn">SubmitYourName</button><!-- Push this button so javascript puts your name in the session chat -->
	     <input type="submit" value="SubmitFormToLogin"><!-- Push this button to submit the form to check your username and password against the database -->
	</div>
	</form>
		<script type="text/javascript" src="/js/login.js"></script>
	</body>
</html>