<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Join Channel</title>
		<link rel="stylesheet" href="/css/welcome.css" type="text/css" />
		<script>
		var user = sessionStorage.getItem("user")
		if (user == null) {
			let name = prompt("Hello Sir, What is your name?", "Participant")
			while(name === '' || name == null) {
				name = prompt("Hello Sir, What is your name?", "Participant")
			}
			fetch('/user', {
				method: 'POST',
				body: name
			}).then(response => response.json())
	          .then(user => {
	        	  sessionStorage.setItem('user', JSON.stringify(user));
	          })
		}else {
			user = JSON.parse(sessionStorage.getITEM("user"))
			console.log(user)		
		}
		</script>
		
	</head>
	<body>
	
	
		<h2>Join A Channel</h2>
		<div th:each="channel : ${channels}">
			<a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}">
			<span th:text="${channel.name}"></span></a>
		</div>
		<form action="/addChannel" method="post">
		 <div>
		 	Add Channel <input type="text" th:field="${channel.name}">
		</div>
		<input type="submit" value="Start Your Channel" />
	</form>
	</body>
</html>